<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <header>
        <h1>Fazer login</h1>
    </header>
    <main>
        <form method="post"> {% csrf_token %}
            <div>
                <label for="email">email</label>
                <input type="text" name="username" id="email" required>
            </div>
            <div>
                <label for="password">senha</label>
                <input type="password" name="password" id="password" required>
            </div>
            <button type="submit" >Login</button>
            <button onclick="location.href = '{% url 'home' %}'" >Cadastrar-se</button>
        </form>
        {% for k, v in form.errors.items %}
            {{v}}
        {% endfor %}
    </main>
</body>
</html>