<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <header>
        <h1>Cadastre-se</h1>
    </header>
    <main>
        <form action="." method="post"> {% csrf_token %}
            <div>
                <div>
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username">
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password">
                </div>
                <div>
                    {% if msg %}
                        <p>{{msg}}</p>
                    {% endif %}
                </div>
            </div>
            <input type="submit" value="Salvar">
            <input type="reset" value="Cancelar" onclick="location.href = '{% url 'home' %}'">
        </form>
        {% for k, v in form.errors.items %}
            {{v}}
        {% endfor %}
    </main>
</body>
</html>