<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
</head>
<body>
    <header>
        <h1>Lista de clientes</h1>
    </header>
    <main>
        <section>
            <ul>
                {% for cliente in object_list %}
                 <li>{{cliente}}</li>
                {% endfor %}
            </ul>
        </section>
        <section>
            <button onclick="location.href = '{% url 'exemplo:create' %}'" >Cadastrar cliente</button>
        </section>
    </main>
</body>
</html>