<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar cliente</title>
</head>
<body>
    <header>
        <h1>Cadastro de cliente</h1>
    </header>
    <main>
        <form action="." method="post">{% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Salvar">
            <input type="reset" value="Cancelar" onclick="location.href = '{% url 'exemplo:list' %}'" >
        </form>
    </main>
</body>
</html>