<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
</head>
<body>
    <header>
        <h1>Lista de clientes</h1>
        <p>Olá, {{request.user}}</p>
    </header>
    <main>
        <section>
            <ul>
                {% for cliente in object_list %}
                 <li>{{cliente}} - <a href="{% url 'exemplo:detail' cliente.id %}">Detalhes</a> - <a href="{% url 'exemplo:update' cliente.id %}">Editar</a> - <a href="{% url 'exemplo:delete' cliente.id %}">Apagar</a></li>
                {% endfor %}
            </ul>
        </section>
        <section>
            <button onclick="location.href = '{% url 'exemplo:create' %}'" >Cadastrar cliente</button>
            <button onclick="location.href = '{% url 'logout' %}'" >Sair</button>
        </section>
    </main>
</body>
</html>